<%= form_with(model: [@request, @request.users.build ], local:
true) do |form| %>
  <div class="form-row">
    <div class="col-md-6">
      <%= form.label 'Nome' %><br>
      <%= form.text_field :name, class:"form-control" %><br>
    </div>
    <div class="col-md-6">
      <%= form.label 'E-mail' %><br>
      <%= form.text_field :email, class:"form-control" %><br>
    </div>
    <div class="col-md-6">
      <%= form.submit 'Vincular', class:"btn btn-secondary" %>
    </div>
  </div>
<% end %>

