<h1>Solicitações de Assinatura</h1>

<% if !flash[:notice].blank? %>
  <div>
    <%=flash[:notice] %>
  </div>
<% end %>
 
<%= link_to "Nova Solicitação de Assinatura", new_request_path %>
<br><br>
<table>
  <tr>
    <th>Nome</th>
    <th>Estado</th>
    <th>Data</th>
    <th colspan="2"></th>
  </tr>
  <!-- inserir embed ruby @request.each do -->
  <% @request.each do |request| %>
  <tr>
    <td><%= request.docname %></td>
    <td><%= request.state %></td>
    <td><%= request.created_at.to_s(:request) %></td>
    <td><%= link_to 'Mostrar', request_path(request)%></td>
    <td><%= link_to 'Deletar', request_path(request),
            method: :delete,
            data: { confirm: 'Realmente deseja excluir?'}%></td>
  </tr>
  <% end %>
</table>